{#
/**
 * @file
 */
#}
<div id="opening-hours-admin">
  <div class="date-header">
    <h3>{{ 'Week'|t }} {{ week_number }}, {{ year }}</h3>
    <h4></h4>
  </div>
  <table>
    <thead>
      <tr>
        {% for day in interval %}
          <th>{{ day }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for instance in instances %}
          <td>{{ instance }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
